## Imports section

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import PolynomialFeatures
from IPython.display import Markdown as md

## Part 1. Loading the dataset

In [2]:
#Use read_csv function to remotely read the csv and store it into a variable named df
df = pd.read_csv("https://raw.githubusercontent.com/profmcnich/example_notebook/main/science_data_large.csv")

#### First 15 rows

In [3]:
print(df.head(15))

    Temperature °C  Mols KCL     Size nm^3
0              469       647  6.244743e+05
1              403       694  5.779610e+05
2              302       975  6.196847e+05
3              779       916  1.460449e+06
4              901        18  4.325726e+04
5              545       637  7.124634e+05
6              660       519  7.006960e+05
7              143       869  2.718260e+05
8               89       461  8.919803e+04
9              294       776  4.770210e+05
10             991       117  2.441771e+05
11             307       781  5.006455e+05
12             206        70  3.145200e+04
13             437       599  5.390215e+05
14             566        75  9.185271e+04

#### Display summary of the table

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
Temperature °C    1000 non-null int64
Mols KCL          1000 non-null int64
Size nm^3         1000 non-null float64
dtypes: float64(1), int64(2)
memory usage: 23.5 KB

In [5]:
df.describe()

       Temperature °C     Mols KCL     Size nm^3
count     1000.000000  1000.000000  1.000000e+03
mean       500.500000   471.530000  5.086111e+05
std        288.819436   288.482872  4.474838e+05
min          1.000000     1.000000  1.611429e+01
25%        250.750000   226.750000  1.298267e+05
50%        500.500000   459.500000  3.827182e+05
75%        750.250000   710.250000  7.603211e+05
max       1000.000000  1000.000000  1.972127e+06

## Part 2. Splitting the dataset

In [6]:
print("Columns : ", df.columns)

Columns :  Index(['Temperature °C', 'Mols KCL', 'Size nm^3'], dtype='object')

In [7]:
#features (X)
X = df[["Temperature °C", "Mols KCL"]]

#label (y)
y = df["Size nm^3"]

In [8]:
# Use the train_test_split function
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.10)

In [9]:
print("Train: ",X_train.shape)
print("Test : ",X_test.shape)

print("Train: ",y_train.shape)
print("Test : ",y_test.shape)

Train:  (900, 2)
Test :  (100, 2)
Train:  (900,)
Test :  (100,)

## Part 3. Perform a Linear Regression

#### Make an object of the class LinearRegression followed by fit method which trains the model

In [10]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

#### Call predict method on the actual dataset

In [11]:
y_pred = model.predict(X_test)
y_pred

array([ 369686.35246253,  719204.34216601,  299668.31259342,
        330785.83121152,  114993.78083378, 1286902.33553064,
        296610.8259866 ,  761122.38511225,  -86604.34541716,
        494824.81372822,  785053.45501707,  395950.36337021,
        189756.45038235, 1048908.63410223,  806077.63667214,
        875526.92429924,  576149.57639279,  837671.24121002,
        -45504.10547184,  838438.65367022,  507427.73631429,
       1206568.54527744,  825294.78051977,  -68803.29609492,
        183729.5217511 ,  572550.56595653,  432464.66894267,
        864662.69966631, -184951.74604961, -285641.9222393 ,
       1013479.13160315, 1050377.43003824,  580635.89402403,
        431555.9372244 ,  742909.54124974,   70640.86927315,
        654841.97456456,  601767.21610519,  627665.18346383,
        119759.26177147,  343550.92431389,  373657.78360217,
        761734.57747555,  617217.96618572,  614436.16767564,
        483760.7645373 ,  862309.49847995,  116642.12333462,
        530629.0478006 ,   22577.16730067,  307223.11572566,
        956311.90073923, -261577.05676087,  814159.48952993,
        487578.71318491, -241068.92593719,  672236.44216109,
        419379.28328247,  725548.66141046,  952851.30761641,
        722155.83487686, -418002.15758036,   71346.89229846,
        385252.93099341,  224700.60567232,  907762.26048291,
        121529.80987701,  803661.88171111,  471783.93515335,
        622734.05680014, 1206995.97826137,  730062.78071933,
       -224584.92766377, -363641.62495951, -302746.80090028,
        -97857.20246222,  977669.68471622,  -80258.28856787,
        -66000.07306156,  634435.19808735,  572197.25890652,
        360666.22860398, -401961.23073455, -109666.07525025,
        644881.26883534,  535724.08258544,   45007.59111708,
        752512.31818911,  514628.65913144,  483153.21172349,
        788531.42418841,  418932.73664517,  399709.80671792,
       1079071.67001084,  166258.02627601,  915004.31255145,
        822894.66400241,  612606.54100514,  797067.9384427 ,
       1220945.49117876])

In [12]:
compare_actual_predicted = pd.DataFrame({"Actual" : y_test, 'Predicted' : y_pred})
compare_actual_predicted.head()

          Actual      Predicted
946  347416.4571  369686.352463
178  723400.3143  719204.342166
974  114028.1143  299668.312593
483  317104.1143  330785.831212
182  121228.4286  114993.780834

#### Use score() method which will use X_test to predict values above and compare with y_test values to tell the accuracy

In [13]:
model.score(X_test, y_test)

0.7983137890489602

In [14]:
model.score(X_train, y_train)


""" don't forget to use either one, and explain what score means"""

" don't forget to use either one, and explain what score means"

#### Coefficients and Intercept

In [15]:
temp_coef = model.coef_[0]
mols_coef = model.coef_[1]

print("Temperature Coefficient = ", temp_coef)
print("Mols Coefficient        = ", mols_coef)
coeff_df = pd.DataFrame(model.coef_, X.columns, columns=['Coefficient'])
coeff_df

Temperature Coefficient =  891.3556697511474
Mols Coefficient        =  1039.6253472343424

                Coefficient
Temperature °C   891.355670
Mols KCL        1039.625347

In [16]:
intercept = model.intercept_
print("Intercept = ", intercept)

Intercept =  -425874.351325789

#### Equation

In [17]:
md("$y = %i$ + %i$ + %iy$"%(intercept, temp_coef, mols_coef))

$y = -425874$ + 891$ + 1039y$

## Part 4. Use Cross Validation

In [18]:
scores = cross_val_score(model, X_train, y_train,cv=10)
print("%0.2f accuracy with a standard deviation of %0.2f" % (scores.mean(), scores.std()))

0.86 accuracy with a standard deviation of 0.01

## Part 5. Using Polynomial Regression

In [19]:
poly = PolynomialFeatures(degree=2)
X_test = poly.fit_transform(X_test)
X_train = poly.fit_transform(X_train)
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [20]:
model.score(X_train, y_train)

1.0